<nav>
    <a routerLink="" 
   routerLinkActive="active" 
   [routerLinkActiveOptions]="{ exact: true }">
   Home
</a>

<a routerLink="/perfil" 
   routerLinkActive="active">
   Perfil
</a>

<a routerLink="/proyectos-page" 
   routerLinkActive="active">
   Proyectos Page
</a>

<a routerLink="/proyectos-dos-page" 
   routerLinkActive="active">
   Proyectos Dos Page
</a>

<!-- FORMULARIOS -->
<a routerLink="/formularios/basic" 
   routerLinkActive="active">
   Formularios Básicos
</a>

<a routerLink="/formularios/dynamic" 
   routerLinkActive="active">
   Formularios Dinámicos
</a>

<a routerLink="/formularios/more" 
   routerLinkActive="active">
   Formularios More
</a>

</nav>